In [1]:
# import polars
import polars as pl

In [6]:
# read csv file
df = pl.read_csv('StudentsPerformance.csv')

In [7]:
df

shape: (1_000, 9)
┌──────┬────────┬───────────────┬──────────────┬───┬──────────────┬────────────┬─────────┬─────────┐
│ id   ┆ gender ┆ race/ethnicit ┆ parental     ┆ … ┆ test         ┆ math score ┆ reading ┆ writing │
│ ---  ┆ ---    ┆ y             ┆ level of     ┆   ┆ preparation  ┆ ---        ┆ score   ┆ score   │
│ i64  ┆ str    ┆ ---           ┆ education    ┆   ┆ course       ┆ i64        ┆ ---     ┆ ---     │
│      ┆        ┆ str           ┆ ---          ┆   ┆ ---          ┆            ┆ i64     ┆ i64     │
│      ┆        ┆               ┆ str          ┆   ┆ str          ┆            ┆         ┆         │
╞══════╪════════╪═══════════════╪══════════════╪═══╪══════════════╪════════════╪═════════╪═════════╡
│ 1    ┆ female ┆ group B       ┆ bachelor's   ┆ … ┆ none         ┆ 72         ┆ 72      ┆ 74      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 2    ┆ female ┆ group C       ┆ some college ┆ … ┆ completed    ┆ 69         ┆ 90      ┆ 88      │
│ 3    ┆ female ┆ group B       ┆ master's     ┆ … ┆ none         ┆ 90         ┆ 95      ┆ 93      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 4    ┆ male   ┆ group A       ┆ associate's  ┆ … ┆ none         ┆ 47         ┆ 57      ┆ 44      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 5    ┆ male   ┆ group C       ┆ some college ┆ … ┆ none         ┆ 76         ┆ 78      ┆ 75      │
│ …    ┆ …      ┆ …             ┆ …            ┆ … ┆ …            ┆ …          ┆ …       ┆ …       │
│ 996  ┆ female ┆ group E       ┆ master's     ┆ … ┆ completed    ┆ 88         ┆ 99      ┆ 95      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 997  ┆ male   ┆ group C       ┆ high school  ┆ … ┆ none         ┆ 62         ┆ 55      ┆ 55      │
│ 998  ┆ female ┆ group C       ┆ high school  ┆ … ┆ completed    ┆ 59         ┆ 71      ┆ 65      │
│ 999  ┆ female ┆ group D       ┆ some college ┆ … ┆ completed    ┆ 68         ┆ 78      ┆ 77      │
│ 1000 ┆ female ┆ group D       ┆ some college ┆ … ┆ none         ┆ 77         ┆ 86      ┆ 86      │
└──────┴────────┴───────────────┴──────────────┴───┴──────────────┴────────────┴─────────┴─────────┘

In [8]:
# get column names
df.columns

['id',
 'gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

In [9]:
# select 1 column
df.select(pl.col('gender'))

# select 2 columns
df.select(pl.col(['gender', 'math score']))

# select all column
df.select(pl.col('*'))

shape: (1_000, 9)
┌──────┬────────┬───────────────┬──────────────┬───┬──────────────┬────────────┬─────────┬─────────┐
│ id   ┆ gender ┆ race/ethnicit ┆ parental     ┆ … ┆ test         ┆ math score ┆ reading ┆ writing │
│ ---  ┆ ---    ┆ y             ┆ level of     ┆   ┆ preparation  ┆ ---        ┆ score   ┆ score   │
│ i64  ┆ str    ┆ ---           ┆ education    ┆   ┆ course       ┆ i64        ┆ ---     ┆ ---     │
│      ┆        ┆ str           ┆ ---          ┆   ┆ ---          ┆            ┆ i64     ┆ i64     │
│      ┆        ┆               ┆ str          ┆   ┆ str          ┆            ┆         ┆         │
╞══════╪════════╪═══════════════╪══════════════╪═══╪══════════════╪════════════╪═════════╪═════════╡
│ 1    ┆ female ┆ group B       ┆ bachelor's   ┆ … ┆ none         ┆ 72         ┆ 72      ┆ 74      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 2    ┆ female ┆ group C       ┆ some college ┆ … ┆ completed    ┆ 69         ┆ 90      ┆ 88      │
│ 3    ┆ female ┆ group B       ┆ master's     ┆ … ┆ none         ┆ 90         ┆ 95      ┆ 93      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 4    ┆ male   ┆ group A       ┆ associate's  ┆ … ┆ none         ┆ 47         ┆ 57      ┆ 44      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 5    ┆ male   ┆ group C       ┆ some college ┆ … ┆ none         ┆ 76         ┆ 78      ┆ 75      │
│ …    ┆ …      ┆ …             ┆ …            ┆ … ┆ …            ┆ …          ┆ …       ┆ …       │
│ 996  ┆ female ┆ group E       ┆ master's     ┆ … ┆ completed    ┆ 88         ┆ 99      ┆ 95      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 997  ┆ male   ┆ group C       ┆ high school  ┆ … ┆ none         ┆ 62         ┆ 55      ┆ 55      │
│ 998  ┆ female ┆ group C       ┆ high school  ┆ … ┆ completed    ┆ 59         ┆ 71      ┆ 65      │
│ 999  ┆ female ┆ group D       ┆ some college ┆ … ┆ completed    ┆ 68         ┆ 78      ┆ 77      │
│ 1000 ┆ female ┆ group D       ┆ some college ┆ … ┆ none         ┆ 77         ┆ 86      ┆ 86      │
└──────┴────────┴───────────────┴──────────────┴───┴──────────────┴────────────┴─────────┴─────────┘

In [10]:
df.head()

shape: (5, 9)
┌─────┬────────┬───────────────┬───────────────┬───┬──────────────┬────────────┬─────────┬─────────┐
│ id  ┆ gender ┆ race/ethnicit ┆ parental      ┆ … ┆ test         ┆ math score ┆ reading ┆ writing │
│ --- ┆ ---    ┆ y             ┆ level of      ┆   ┆ preparation  ┆ ---        ┆ score   ┆ score   │
│ i64 ┆ str    ┆ ---           ┆ education     ┆   ┆ course       ┆ i64        ┆ ---     ┆ ---     │
│     ┆        ┆ str           ┆ ---           ┆   ┆ ---          ┆            ┆ i64     ┆ i64     │
│     ┆        ┆               ┆ str           ┆   ┆ str          ┆            ┆         ┆         │
╞═════╪════════╪═══════════════╪═══════════════╪═══╪══════════════╪════════════╪═════════╪═════════╡
│ 1   ┆ female ┆ group B       ┆ bachelor's    ┆ … ┆ none         ┆ 72         ┆ 72      ┆ 74      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 2   ┆ female ┆ group C       ┆ some college  ┆ … ┆ completed    ┆ 69         ┆ 90      ┆ 88      │
│ 3   ┆ female ┆ group B       ┆ master's      ┆ … ┆ none         ┆ 90         ┆ 95      ┆ 93      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 4   ┆ male   ┆ group A       ┆ associate's   ┆ … ┆ none         ┆ 47         ┆ 57      ┆ 44      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 5   ┆ male   ┆ group C       ┆ some college  ┆ … ┆ none         ┆ 76         ┆ 78      ┆ 75      │
└─────┴────────┴───────────────┴───────────────┴───┴──────────────┴────────────┴─────────┴─────────┘

In [12]:
# create new column
df.with_columns((pl.col('math score') + pl.col('reading score')).alias('sum'))

shape: (1_000, 10)
┌──────┬────────┬────────────────┬────────────────┬───┬────────────┬─────────┬───────────────┬─────┐
│ id   ┆ gender ┆ race/ethnicity ┆ parental level ┆ … ┆ math score ┆ reading ┆ writing score ┆ sum │
│ ---  ┆ ---    ┆ ---            ┆ of education   ┆   ┆ ---        ┆ score   ┆ ---           ┆ --- │
│ i64  ┆ str    ┆ str            ┆ ---            ┆   ┆ i64        ┆ ---     ┆ i64           ┆ i64 │
│      ┆        ┆                ┆ str            ┆   ┆            ┆ i64     ┆               ┆     │
╞══════╪════════╪════════════════╪════════════════╪═══╪════════════╪═════════╪═══════════════╪═════╡
│ 1    ┆ female ┆ group B        ┆ bachelor's     ┆ … ┆ 72         ┆ 72      ┆ 74            ┆ 144 │
│      ┆        ┆                ┆ degree         ┆   ┆            ┆         ┆               ┆     │
│ 2    ┆ female ┆ group C        ┆ some college   ┆ … ┆ 69         ┆ 90      ┆ 88            ┆ 159 │
│ 3    ┆ female ┆ group B        ┆ master's       ┆ … ┆ 90         ┆ 95      ┆ 93            ┆ 185 │
│      ┆        ┆                ┆ degree         ┆   ┆            ┆         ┆               ┆     │
│ 4    ┆ male   ┆ group A        ┆ associate's    ┆ … ┆ 47         ┆ 57      ┆ 44            ┆ 104 │
│      ┆        ┆                ┆ degree         ┆   ┆            ┆         ┆               ┆     │
│ 5    ┆ male   ┆ group C        ┆ some college   ┆ … ┆ 76         ┆ 78      ┆ 75            ┆ 154 │
│ …    ┆ …      ┆ …              ┆ …              ┆ … ┆ …          ┆ …       ┆ …             ┆ …   │
│ 996  ┆ female ┆ group E        ┆ master's       ┆ … ┆ 88         ┆ 99      ┆ 95            ┆ 187 │
│      ┆        ┆                ┆ degree         ┆   ┆            ┆         ┆               ┆     │
│ 997  ┆ male   ┆ group C        ┆ high school    ┆ … ┆ 62         ┆ 55      ┆ 55            ┆ 117 │
│ 998  ┆ female ┆ group C        ┆ high school    ┆ … ┆ 59         ┆ 71      ┆ 65            ┆ 130 │
│ 999  ┆ female ┆ group D        ┆ some college   ┆ … ┆ 68         ┆ 78      ┆ 77            ┆ 146 │
│ 1000 ┆ female ┆ group D        ┆ some college   ┆ … ┆ 77         ┆ 86      ┆ 86            ┆ 163 │
└──────┴────────┴────────────────┴────────────────┴───┴────────────┴─────────┴───────────────┴─────┘

In [13]:
# filtering
df.filter(pl.col('gender') == 'female')

shape: (518, 9)
┌──────┬────────┬───────────────┬──────────────┬───┬──────────────┬────────────┬─────────┬─────────┐
│ id   ┆ gender ┆ race/ethnicit ┆ parental     ┆ … ┆ test         ┆ math score ┆ reading ┆ writing │
│ ---  ┆ ---    ┆ y             ┆ level of     ┆   ┆ preparation  ┆ ---        ┆ score   ┆ score   │
│ i64  ┆ str    ┆ ---           ┆ education    ┆   ┆ course       ┆ i64        ┆ ---     ┆ ---     │
│      ┆        ┆ str           ┆ ---          ┆   ┆ ---          ┆            ┆ i64     ┆ i64     │
│      ┆        ┆               ┆ str          ┆   ┆ str          ┆            ┆         ┆         │
╞══════╪════════╪═══════════════╪══════════════╪═══╪══════════════╪════════════╪═════════╪═════════╡
│ 1    ┆ female ┆ group B       ┆ bachelor's   ┆ … ┆ none         ┆ 72         ┆ 72      ┆ 74      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 2    ┆ female ┆ group C       ┆ some college ┆ … ┆ completed    ┆ 69         ┆ 90      ┆ 88      │
│ 3    ┆ female ┆ group B       ┆ master's     ┆ … ┆ none         ┆ 90         ┆ 95      ┆ 93      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 6    ┆ female ┆ group B       ┆ associate's  ┆ … ┆ none         ┆ 71         ┆ 83      ┆ 78      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 7    ┆ female ┆ group B       ┆ some college ┆ … ┆ completed    ┆ 88         ┆ 95      ┆ 92      │
│ …    ┆ …      ┆ …             ┆ …            ┆ … ┆ …            ┆ …          ┆ …       ┆ …       │
│ 994  ┆ female ┆ group D       ┆ bachelor's   ┆ … ┆ none         ┆ 62         ┆ 72      ┆ 74      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 996  ┆ female ┆ group E       ┆ master's     ┆ … ┆ completed    ┆ 88         ┆ 99      ┆ 95      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 998  ┆ female ┆ group C       ┆ high school  ┆ … ┆ completed    ┆ 59         ┆ 71      ┆ 65      │
│ 999  ┆ female ┆ group D       ┆ some college ┆ … ┆ completed    ┆ 68         ┆ 78      ┆ 77      │
│ 1000 ┆ female ┆ group D       ┆ some college ┆ … ┆ none         ┆ 77         ┆ 86      ┆ 86      │
└──────┴────────┴───────────────┴──────────────┴───┴──────────────┴────────────┴─────────┴─────────┘

In [15]:
# multiple filtering
df.filter((pl.col('gender') == 'female') & (pl.col('race/ethnicity') == 'group B'))

shape: (104, 9)
┌─────┬────────┬───────────────┬───────────────┬───┬──────────────┬────────────┬─────────┬─────────┐
│ id  ┆ gender ┆ race/ethnicit ┆ parental      ┆ … ┆ test         ┆ math score ┆ reading ┆ writing │
│ --- ┆ ---    ┆ y             ┆ level of      ┆   ┆ preparation  ┆ ---        ┆ score   ┆ score   │
│ i64 ┆ str    ┆ ---           ┆ education     ┆   ┆ course       ┆ i64        ┆ ---     ┆ ---     │
│     ┆        ┆ str           ┆ ---           ┆   ┆ ---          ┆            ┆ i64     ┆ i64     │
│     ┆        ┆               ┆ str           ┆   ┆ str          ┆            ┆         ┆         │
╞═════╪════════╪═══════════════╪═══════════════╪═══╪══════════════╪════════════╪═════════╪═════════╡
│ 1   ┆ female ┆ group B       ┆ bachelor's    ┆ … ┆ none         ┆ 72         ┆ 72      ┆ 74      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 3   ┆ female ┆ group B       ┆ master's      ┆ … ┆ none         ┆ 90         ┆ 95      ┆ 93      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 6   ┆ female ┆ group B       ┆ associate's   ┆ … ┆ none         ┆ 71         ┆ 83      ┆ 78      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 7   ┆ female ┆ group B       ┆ some college  ┆ … ┆ completed    ┆ 88         ┆ 95      ┆ 92      │
│ 10  ┆ female ┆ group B       ┆ high school   ┆ … ┆ none         ┆ 38         ┆ 60      ┆ 50      │
│ …   ┆ …      ┆ …             ┆ …             ┆ … ┆ …            ┆ …          ┆ …       ┆ …       │
│ 924 ┆ female ┆ group B       ┆ associate's   ┆ … ┆ none         ┆ 54         ┆ 65      ┆ 65      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 945 ┆ female ┆ group B       ┆ high school   ┆ … ┆ none         ┆ 58         ┆ 68      ┆ 61      │
│ 970 ┆ female ┆ group B       ┆ bachelor's    ┆ … ┆ none         ┆ 75         ┆ 84      ┆ 80      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 981 ┆ female ┆ group B       ┆ high school   ┆ … ┆ none         ┆ 8          ┆ 24      ┆ 23      │
│ 992 ┆ female ┆ group B       ┆ some high     ┆ … ┆ completed    ┆ 65         ┆ 82      ┆ 78      │
│     ┆        ┆               ┆ school        ┆   ┆              ┆            ┆         ┆         │
└─────┴────────┴───────────────┴───────────────┴───┴──────────────┴────────────┴─────────┴─────────┘

In [20]:
print(df)

shape: (1_000, 9)
┌──────┬────────┬───────────────┬──────────────┬───┬──────────────┬────────────┬─────────┬─────────┐
│ id   ┆ gender ┆ race/ethnicit ┆ parental     ┆ … ┆ test         ┆ math score ┆ reading ┆ writing │
│ ---  ┆ ---    ┆ y             ┆ level of     ┆   ┆ preparation  ┆ ---        ┆ score   ┆ score   │
│ i64  ┆ str    ┆ ---           ┆ education    ┆   ┆ course       ┆ i64        ┆ ---     ┆ ---     │
│      ┆        ┆ str           ┆ ---          ┆   ┆ ---          ┆            ┆ i64     ┆ i64     │
│      ┆        ┆               ┆ str          ┆   ┆ str          ┆            ┆         ┆         │
╞══════╪════════╪═══════════════╪══════════════╪═══╪══════════════╪════════════╪═════════╪═════════╡
│ 1    ┆ female ┆ group B       ┆ bachelor's   ┆ … ┆ none         ┆ 72         ┆ 72      ┆ 74      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 2    ┆ female ┆ group C       ┆ some college ┆ … ┆ completed    ┆ 69         ┆ 90      ┆ 88      │
│ 3    ┆ female ┆ group B       ┆ master's     ┆ … ┆ none         ┆ 90         ┆ 95      ┆ 93      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 4    ┆ male   ┆ group A       ┆ associate's  ┆ … ┆ none         ┆ 47         ┆ 57      ┆ 44      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 5    ┆ male   ┆ group C       ┆ some college ┆ … ┆ none         ┆ 76         ┆ 78      ┆ 75      │
│ …    ┆ …      ┆ …             ┆ …            ┆ … ┆ …            ┆ …          ┆ …       ┆ …       │
│ 996  ┆ female ┆ group E       ┆ master's     ┆ … ┆ completed    ┆ 88         ┆ 99      ┆ 95      │
│      ┆        ┆               ┆ degree       ┆   ┆              ┆            ┆         ┆         │
│ 997  ┆ male   ┆ group C       ┆ high school  ┆ … ┆ none         ┆ 62         ┆ 55      ┆ 55      │
│ 998  ┆ female ┆ group C       ┆ high school  ┆ … ┆ completed    ┆ 59         ┆ 71      ┆ 65      │
│ 999  ┆ female ┆ group D       ┆ some college ┆ … ┆ completed    ┆ 68         ┆ 78      ┆ 77      │
│ 1000 ┆ female ┆ group D       ┆ some college ┆ … ┆ none         ┆ 77         ┆ 86      ┆ 86      │
└──────┴────────┴───────────────┴──────────────┴───┴──────────────┴────────────┴─────────┴─────────┘

In [21]:
# group data
df.group_by("race/ethnicity").agg(pl.count()) # <- use pl.all() for a count

<ipython-input-21-d729af8bcff7>:2: DeprecationWarning: `pl.count()` is deprecated. Please use `pl.len()` instead.
  df.group_by("race/ethnicity").agg(pl.count()) # <- use pl.all() for a count

shape: (5, 2)
┌────────────────┬───────┐
│ race/ethnicity ┆ count │
│ ---            ┆ ---   │
│ str            ┆ u32   │
╞════════════════╪═══════╡
│ group A        ┆ 89    │
│ group B        ┆ 190   │
│ group C        ┆ 319   │
│ group E        ┆ 140   │
│ group D        ┆ 262   │
└────────────────┴───────┘

In [23]:
cleaned_df = df.drop_nulls()

In [25]:
df2 = pl.read_csv('LanguageScore.csv')

joined_df = df.join(df2, on='id')

joined_df

shape: (100, 10)
┌─────┬────────┬─────────────────┬─────────────────┬───┬────────────┬─────────┬─────────┬──────────┐
│ id  ┆ gender ┆ race/ethnicity  ┆ parental level  ┆ … ┆ math score ┆ reading ┆ writing ┆ language │
│ --- ┆ ---    ┆ ---             ┆ of education    ┆   ┆ ---        ┆ score   ┆ score   ┆ score    │
│ i64 ┆ str    ┆ str             ┆ ---             ┆   ┆ i64        ┆ ---     ┆ ---     ┆ ---      │
│     ┆        ┆                 ┆ str             ┆   ┆            ┆ i64     ┆ i64     ┆ i64      │
╞═════╪════════╪═════════════════╪═════════════════╪═══╪════════════╪═════════╪═════════╪══════════╡
│ 1   ┆ female ┆ group B         ┆ bachelor's      ┆ … ┆ 72         ┆ 72      ┆ 74      ┆ 74       │
│     ┆        ┆                 ┆ degree          ┆   ┆            ┆         ┆         ┆          │
│ 2   ┆ female ┆ group C         ┆ some college    ┆ … ┆ 69         ┆ 90      ┆ 88      ┆ 67       │
│ 3   ┆ female ┆ group B         ┆ master's degree ┆ … ┆ 90         ┆ 95      ┆ 93      ┆ 34       │
│ 4   ┆ male   ┆ group A         ┆ associate's     ┆ … ┆ 47         ┆ 57      ┆ 44      ┆ 33       │
│     ┆        ┆                 ┆ degree          ┆   ┆            ┆         ┆         ┆          │
│ 5   ┆ male   ┆ group C         ┆ some college    ┆ … ┆ 76         ┆ 78      ┆ 75      ┆ 75       │
│ …   ┆ …      ┆ …               ┆ …               ┆ … ┆ …          ┆ …       ┆ …       ┆ …        │
│ 96  ┆ male   ┆ group C         ┆ associate's     ┆ … ┆ 78         ┆ 81      ┆ 82      ┆ 67       │
│     ┆        ┆                 ┆ degree          ┆   ┆            ┆         ┆         ┆          │
│ 97  ┆ male   ┆ group B         ┆ some high       ┆ … ┆ 65         ┆ 66      ┆ 62      ┆ 87       │
│     ┆        ┆                 ┆ school          ┆   ┆            ┆         ┆         ┆          │
│ 98  ┆ female ┆ group E         ┆ some college    ┆ … ┆ 63         ┆ 72      ┆ 70      ┆ 66       │
│ 99  ┆ female ┆ group D         ┆ some college    ┆ … ┆ 58         ┆ 67      ┆ 62      ┆ 94       │
│ 100 ┆ female ┆ group D         ┆ bachelor's      ┆ … ┆ 65         ┆ 67      ┆ 62      ┆ 75       │
│     ┆        ┆                 ┆ degree          ┆   ┆            ┆         ┆         ┆          │
└─────┴────────┴─────────────────┴─────────────────┴───┴────────────┴─────────┴─────────┴──────────┘